## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
logs/
*.log

## IDE
.vs/
.idea/
*.code-workspace

## OS
Thumbs.db
.DS_Store

## Secrets
appsettings.*.local.json
*.pfx
